.App {
  text-align: center;
}
* {
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#navbar{
    display: flex;
    align-items: center;
    height: 56px;
    width: 100%;
    background-color: #2f3133;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

#search{
  display: flex;
  align-items: center;
  width: 100%;
}
#search input{
    width: 36%;
    padding: 10px 16px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    font-size: 16px;
    background-color: #121315;
    outline: none;
}
#search >div{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
#search h5{
  margin: 10px;
  font-size: 1.7rem;
  cursor: pointer;
}
#suggestion{
  width:36%;
  max-height:calc(100vh - 50px);
  position: absolute;
  top: 49px;
  z-index: 50;
  overflow: hidden;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 767px) {

  #suggestion{
    width: 63%;
  }
  #search input{
    width:70%;
  }
}


@media only screen and (min-width: 768px) {

  #suggestion{
    width: 36%;
  }
  #search input{
    width:36%;
  }
}